<h2>{{title}}</h2>

<div id="rooms">
  <form action="/rooms" method="POST">
    <label for="name">Name: </label><input id="name" type="text" name="name" placeholder="Name">
    <label for="description">Description: </label><input id="description" type="text" name="description" placeholder="Description">
    <label for="imageUrl">Image: </label><input id="imageUrl" type="text" name="imageUrl" placeholder="imageUrl">
    <button id="btn-submit">Add room</button>
  </form>
</div>