
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
    />
<h2>{{title}}</h2>

<div class="form">
	<form action="/locations" method="POST" enctype="multipart/form-data">
		<label for="name">Name: </label><input id="name" type="text" name="name" placeholder="Jan Doe" required>
		<label for="address">Address: </label><input id="address" type="text" name="address" autocomplete="off" placeholder="Fakestr. 123, Berlin 12050" required>
		<label for="imageUrl">Image: </label><input id="imageUrl" type="file" name="imageUrl" placeholder="Upload Image" required>
		<button id="btn-submit">Add Location</button>
  	</form>
	<script
      src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initAutocomplete&libraries=places&v=weekly"
      async
    ></script>
</div>