<h2>Home</h2>

<div id="rooms">
  {{#each rooms}}
  <div id="room">
    <p>{{name}}</p></a>
    <p>{{description}}</p>
    <img src="{{imageUrl}}" alt="Image of room {{name}}" height="300">
  </div>
  {{/each}}
</div>