<h2>Home</h2>

<div class="location">
  {{#each location}}
  <div class="location">
    <p>{{name}}</p></a>
    <p>{{address}}</p>
    <img src="{{imageUrl}}" alt="Image of room {{name}}" height="300">
  </div>
  {{/each}}
</div>