html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body {
  padding: 5px;
}

a {
  color: #2081c3;
  text-decoration: none;
}

#container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 60vw;;
}

#buttons button {
  margin: 5px;
  background-color: #2081c3;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

#buttons button:hover {
  color: #FFFFFF;
  background-color: #0e3752;
}

.clickedbutton {
  background-color: black;
}

#map-sidebar {
  display: flex;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  width: 52vw;
  height: 80vh;
}

#sidebar-right, #sidebar-left {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 0;
  width: 23vw;
  height: 100%;
  font-size: 0.9em;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

#sidebar-right > div,
#sidebar-left > div {
  padding: 0 10px;
}

#header {
  text-align: center;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  border: 0;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  height: auto;
}

nav {
  background-color: #2081c3;
  border-bottom: 2px groove #bfbfbf;
}

nav a {
  text-decoration: none;
  color: #f7f9f9;
  font-size: 0.9em;
  font-weight: bold;
  padding: 20px;
}

#nav-menu {
  padding: 20px 80px 20px 80px;
  display: flex;
  justify-content: space-between;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.location img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 250px;
  width: 100%;
  max-height: 250px;
  padding: 10px;
}

.location form {
  padding-bottom: 10px;
}

.location p {
  margin: 4px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 20px;
  font-weight: lighter;
  width: 300px;
}

form label {
  font-weight: bolder;
  padding-bottom: 5px;
}

form button {
  width: 120px;
  height: 25px;
  background-color:#2081c3;
  color:#e6ece4;
  border-radius: 5px;
  border: 1px groove;
}

h3 {
  font-size: 
  1.5em;
}